:root{
  --rojo: #E50914;
  --fondo: #141414;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
  }

  .contenedor {
    width: 90%;
    margin: auto;
  }


/*contenedor del titulo y controles*/
.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
  }

.contenedor-titulo-controles h3{
  color: #fff;
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 7px;
  

}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {

background: red;

}


/*contenedor principal y flechas*/
  .peliculas-recomendadas{
    margin-bottom:  70px;
  }

.peliculas-recomendadas .contenedor-principal{
  display: flex;
  align-items: center;
  position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0,0,0,0.4);
  font-size:  40px;
  height: 50%;
  top: calc(50% - 25%); /*50% tamaño del contenedor  menos  25% el alto del boton*/
  line-height:  40%;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all;

}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda svg,
.peliculas-recomendadas .contenedor-principal .flecha-derecha svg {
  max-width: calc(50% - 15%); /*50% tamaño del contenedor  menos  15% el alto del boton*/
  max-height: 100%;
  margin: 0;
  padding: 0;
}




.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0,0,0,0.9); /* aumenta la intensidad del negro de al pasar por el hover*/
}



/* carousel */

.peliculas-recomendadas .contenedor-carousel{
  width: 100%;
  padding: 20px, 0;
  overflow: hidden; /*todo lo que salga del 100% width   se oculte*/
  scroll-behavior: smooth; /* escroll con animación no tan brusca*/

}

.peliculas-recomendadas .contenedor-carousel .carousel{
  display: flex;
  flex-wrap: nowrap;

}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula{
  min-width: 20%; /*asi podran entrar 5 imagenes. se cambia segun necesidad  */
  transition:  .3s ease all;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

}

/* la clase hover se hara con js*/
.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover{
/*cuando tenga LA CLASE  DE HOVER (.)  Y NO CUANDO TENGA HOVER (:)*/
transform: scale(1.2);
transform-origin: center; /*la imagen cresca proporcional desde el centro*/

}





.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img{
width: 100%;
vertical-align: top;

}

/*media queries*/

@media screen and (max-width : 375px) {
.peliculas-recomendadas .contenedor-carousel{
  overflow: visible; /*en el responsive no corte la imagen*/
}

.peliculas-recomendadas .contenedor-carousel .carousel{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* se dividira en 3 columnas*/
  gap: 20px; /*espaciado de elementos*/
}

.peliculas-recomendadas .indicadores,
.peliculas-recomendadas .flecha-izquierda,
.peliculas-recomendadas .flecha-derecha{
  display: none; /*elimino las flechas*/
}

}
